.login-page {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-image: url('https://00e9e64bac46bdf014fcd31455b6243a0bf8177f7da77f45fa-apidata.googleusercontent.com/download/storage/v1/b/wondertime_media/o/loginBackground-min.jpg?qk=AD5uMEspA48KhHGwJTbLqnM-CCHwUIJoYBJKlyJDHORSXrCkAz4D5ahunqf8v00W5hQhX1slD2y5ZZYwuB8CzYm_nmSJvdh4o36FsY4RCURSOkk0eIBsPOwfhIaECJ-66vkslqZjFzSvQ5nFoeSn-rHohTEP7k5ouSFwNrpMs5DzqGdE3cEdLauktgcBBvnWL5rdqfOjOwfESb2iPAoh8JM21fAUqC7FUmkvrUckii-vQv92G21ewnqqq_5cqipBt4mouBzz6OW1rYAQZZZkfL34_QtK9IMsvWvO44tF5vx74uKrBdB_7tD_NvFYGFrcaHiY1eV_FUCRQ2gll63WuRMNpp5eER1Oagu4BTyWjxJexzHfvezDxEcST2WEN5pEwYbJD2gRAyQ0w17QO0PrYjMg7jpthRMIrEOLBubfhMevYonH0ImYxdylM1j7ntiGssUTBCpMaGaASQ7yo3SWPVsnQ8U8HOYhQ-jzoWyLSBjGX4jjwAjHLD-rOmMOOxG8ViC1cAidyGXL6W9n2MsAWQMofhw9L65byibhdOcteuTR8PO6_DMPjUcvLZZKfO6gJ3ccospFPcaLFwg4E3_LBeYfxSdm2SKRmC27Qu_2YAAglNzu3Q2ZjcitgGvovWLTHIQhCUS43JV3rimWgB3HVEi5YRBzNfKHWrGaw_ZMmrr32J4DIqUtNIbRGcnQcq6FccLl7eu6K6yxntx-naIGqH6820e61JLKBNX2NsyUthxkx9-kGX2LlvzoPOc8RHHc2eZRDflfDRwPxls0KrwDtPX4qc7dbdRxlw');
}

.form-control, .is-focused .custom-file-control, .is-focused .form-control {
    background-image:
            linear-gradient(0deg,#03a9f4 2px,rgba(0,150,136,0) 0),
            linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0) !important;
}

.is-focused [class^=bmd-label]{
    color: #03a9f4 !important;
}

.btn.btn-raised.btn-primary, .btn.btn-raised.btn-primary:hover {
    background-color: #03a9f4 !important;
}

.login-title {
    cursor: pointer;
}