h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
}

nav, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

h1 a, h1 a:hover{
    color: #03a9f4;
}

.insta-share {
    color: #cd486b !important;
    border-color: #cd486b !important;
}

.link-share {
    color: black !important;
    border-color: black !important;
}


.close-icon {
    z-index: 1;
    color: #6a6c70;
    position: absolute;
    right: 3px;
    cursor: pointer;
}

.navbar {
    z-index: 2 !important;
}

.close-icon:hover{
    z-index: 1;
    color: black;
}

.adding-button {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.media_chooser {
    cursor: pointer;
    border: solid 2px white;
}

.media_chooser:hover {
    border: solid 2px #03a9f4;
}


.selectedFiles {
    display: none;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}